* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(123, 132, 136);
   
}

h1 {
    color: rgb(191, 201, 223);
    text-align: center;
    font-size: 72px;
    background-color: rgb(39, 42, 49);
}
h2 {
    font-size: 32px;
    color: rgb(191, 201, 223);
    background-color: brown;
    position: relative;
    left: 10px;
    width: 75%;
    text-align: center;

}
aside {
    width: 20%;
    display: block;
    background-color:rgb(6, 94, 75);
    min-height: 100%;
    float: right;
    position: fixed;
    top: 105px;
    left: 1050px;
    
}

p {
    color: rgb(8, 8, 8);
    background-color: rgb(191, 201, 223);
    padding: 10px;
    
}
article {
    background-color: argb(191, 201, 223);
}

#mePic {
    width: 350px;
    position: relative;
    left:5px;
}
#vegiePic {
    width: 350px;
}

#divIntro {
    height: 300px;
    width: 550px;
    position: absolute;
    top: 150px;
    left: 450px;
    border: 2px solid;
    border-color: rgb(191, 201, 223);
    font-size: 20px;
    background-color: rgb(39, 42, 49);
    padding: 10px;
    border-radius: 3%;
}
#intro {
    background-color: rgb(191, 201, 223);
    width: 520px;
    padding: 7px;
}
#other {
    width: 550px;
    position: absolute;
    top: 970px;
    left: 400px;
    background-color: rgb(191, 201, 223);
}