* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(120, 196, 226);
}

h1 {
    color: rgb(191, 201, 223);
    text-align: center;
    font-size: 72px;
    background-color: darkblue;
}
h2 {
    font-size: 32px;
    color: rgb(191, 201, 223);
    background-color: brown;
    position: relative;
    left: 10px;
    width: 75%;
    text-align: center;

}
aside {
    width: 20%;
    display: block;
    background-color:rgb(6, 94, 75);
    min-height: 100%;
    float: right;
    position: fixed;
    top: 105px;
    left: 1050px;
    
}

p {
    color: rgb(12, 10, 10);
    position: relative;
    left: 10px;
    background-color: rgb(191, 201, 223);
    
}
article {
    background-color: argb(191, 201, 223);
}

#mePic {
    width: 350px;
    position: relative;
    left:20px;
}
#vegiePic {
    width: 350px;
}

#divIntro {
    height: 300px;
    width: 550px;
    position: absolute;
    top: 150px;
    left: 400px;
    border-width: 5px;
    border-color: darkblue;
    font-size: 20px;
    background-color: rgb(191, 201, 223);
    padding: 10px;
}
#intro {
    background-color: rgb(191, 201, 223);
}
#other {
    width: 550px;
    position: absolute;
    top: 900px;
    left: 400px;
    background-color: rgb(191, 201, 223);
}